<mat-toolbar>
		<mat-toolbar-row><span>Elections 2018</span>
		  <div style="margin-left:100px;">
<!-- 			<a mat-button routerLink="/grafica">Ejemplo de Gráfica</a>
 -->			
 			<a mat-button routerLink=".">Analisis Por Candidato</a>
 			<a mat-button routerLink="/analisis-partido">Analisis Por Partido</a>
		  <a mat-button routerLink="/versus-analysis">Versus Analisis</a>
	
		</div>
		</mat-toolbar-row>
		</mat-toolbar>
<mat-card style="margin-left:25%;margin-right:25%;width:50%;height:70%;">
    <h3>Hola Bienvenidos</h3>
</mat-card>