<mat-toolbar>
		<mat-toolbar-row><span>Elections 2018</span>
		  <div style="margin-left:100px;">
<!-- 			<a mat-button routerLink="/grafica">Ejemplo de Gráfica</a>
 -->			
 			<a mat-button routerLink="/analisis-candidato">Analisis Por Candidato</a>
			<a mat-button routerLink="/versus-analysis">Versus Analisis</a>
			<a mat-button routerLink="/.">Word Cloud Por Candidato</a>
	
		</div>
		</mat-toolbar-row>
		</mat-toolbar>
<mat-card style="margin-top: 5%;margin-left:25%;margin-right:25%;width:50%;height:70%;">
		<h1 style="text-align: center">Hola Bienvenidos</h1>
		<h2>Elections2018 es una app que analiza en tiempo real la red social Twitter.<br> Mediante una serie de algoritmos y con ayuda 
			de la inteligencia artificial se realiza un analisis de sentimientos de cada tuit para asi poder arrojar al usuario 
			información util de cada candidato.
		<br> Gracias a esta información podemos construir gráficas que ayudan a entender mejor el grado de aceptación
	 que tiene cada cadidato a nivel México, todo esto con base en la información extraida de Twitter.</h2>		
</mat-card>