<mat-toolbar>
		<mat-toolbar-row><span>Elections 2018</span>
		  <div style="margin-left:100px;">
		  <a mat-button routerLink="/home">Home</a>
		  <a mat-button routerLink="/versus-analysis">Versus Analisis</a>
		  <a mat-button routerLink=".">Word Cloud Por Candidato</a>

		</div>
		</mat-toolbar-row>
		</mat-toolbar>
		<mat-grid-list cols="3" rowHeight="2:1">
				<mat-grid-tile>
						<a style="text-align: center"><img class="imgRedonda" src="../../../assets/Anaya.png"/></a>
				</mat-grid-tile>
				<mat-grid-tile>
						<a><img class= "imgRedonda" src="../../../assets/Meade.png"/></a>
				</mat-grid-tile>
				<mat-grid-tile>
					<a><img class="imgRedonda" src="../../../assets/Amlo.png"/></a>
				</mat-grid-tile>
<!-- 			para cambiar tamano usar la sig propiedad colspan="2" rowspan="2"-->
				<mat-grid-tile rowspan="2" >	
					<mat-card style="width:89%;height:55%;">
						<mat-card-title>Analisis de Tuits</mat-card-title>
						<dnutChart ></dnutChart>
				</mat-card></mat-grid-tile>
				<mat-grid-tile rowspan="2">
						<mat-card style="width:89%;height:55%;">
								<mat-card-title>Analisis de Tuits</mat-card-title>
								<dnutChart ></dnutChart>
						</mat-card>
				</mat-grid-tile>
				<mat-grid-tile rowspan="2">
						<mat-card style="width:89%;height:55%;">
								<mat-card-title>Analisis de Tuits</mat-card-title>
								<dnutChart ></dnutChart>
						</mat-card>
				</mat-grid-tile>
			</mat-grid-list>
			<mat-grid-list cols="2" rowHeight="4:2">
					<mat-grid-tile>
							<a style="width: 40%;"><img class= "imgRedonda" src="../../../assets/Zavala.png"/></a>
					
							<mat-card style="width:80%;height:80%;">
									<mat-card-title>Analisis de Tuits</mat-card-title>
									<dnutChart ></dnutChart>
							</mat-card>	</mat-grid-tile>
					<mat-grid-tile>
						<a style="width: 40%;margin-left: 2%;"><img class="imgRedonda" src="../../../assets/Bronco.png"/></a>
						<mat-card style="width:80%;height:80%;">
								<mat-card-title>Analisis de Tuits</mat-card-title>
								<dnutChart ></dnutChart>
						</mat-card>
					</mat-grid-tile>
			</mat-grid-list>>
