<div class="row" style="margin-top: 20px">
	<h1 align="center" style="width: 100%"> Versus analysis </h1>
</div>
<div class="row">
	<div id="left-container" class="pull-left" style="margin: auto; width: 50%">
		<h2 align="center"> Live tweeter feed </h2>
		<img class="img-responsive" style="margin: auto;" src="http://via.placeholder.com/300x300?text=Live twitter feed" />
	</div>
	<div id="right-container" class="pull-right" style="margin: auto; width: 50%">
		<h2 align="center"> Live popularity versus graph </h2>
		<img class="img-responsive" style="margin: auto;" src="http://via.placeholder.com/300x300?text=Live popularity versus graph" />
	</div>
</div>
