<mat-toolbar>
		<mat-toolbar-row><span>Elections 2018</span>
		  <div style="margin-left:100px;">
		  <a mat-button routerLink="/home">Home</a>
		  <a mat-button routerLink=".">Analisis Por Candidato</a>
		  <a mat-button routerLink="/analisis-partido">Analisis Por Partido</a>
	
		</div>
		</mat-toolbar-row>
		</mat-toolbar>
<div class="row" style="margin-top: 20px">
	<h1 align="center"> Versus analysis </h1>
</div>
<div class="row">
		<mat-card style="margin-left:25%;margin-right:25%;width:50%;height:70%;" class="example-card">
				<mat-card-header>
				  <div mat-card-avatar class="example-header-image"></div>
				  <h2>Analisis De Twitter En Tiempo Real</h2>
				</mat-card-header>
				<mat-card-content>
				<bar-chart-demo></bar-chart-demo>
				</mat-card-content>
				<mat-card-actions>
				</mat-card-actions>
			  </mat-card>

</div>
